/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

$break-small: 320px
$break-medium: 640px
$break-large: 980px

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
  background: #b3d4fc
  text-shadow: none


::selection
  background: #b3d4fc
  text-shadow: none


/*
 * A better looking default horizontal rule
 */

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img
  vertical-align: middle


/*
 * Remove default fieldset styles.
 */

fieldset
  border: 0
  margin: 0
  padding: 0

/*
 * Allow only vertical resizing of textareas.
 */

textarea
  resize: vertical

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
button,
input,
select,
textarea
  color: #393939


html
  font-size: 62.5%


body
  margin: 0 auto
  max-width: 60em
  background: #ececec
  font-size: 16px
  font-size: 1.6rem
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, "Droid Sans", sans-serif
  line-height: 1.4


a
  text-decoration: none

  &:link
    color: #3946eb
  &:visited
    color: #003760
  &:hover
    color: #0074d9
    text-decoration: underline

@media only screen and (max-width: 60em)
  a
    text-decoration: underline


blockquote
  border-left: 5px solid #ccc
  margin-right: 0
  margin-left: 0
  padding-left: 20px


p
  margin: 1.5em 0


/*
 * Global header
 */

.logo
  font-size: 36px
  font-size: 3.6rem
  font-weight: normal

  a
    color: #003760
    text-decoration: none


/*
 * Entries
 */

.entries_entry
  display: flex
  align-items: center
  margin-bottom: 20px

  &:last-child
    margin: 0

@media only screen and (max-width: 60em)
  .entries_entry
    display: block
    border: solid #ccc
    border-width: 1px 0 0
    margin-bottom: 0
    padding: 10px 0

    &:last-child
      border-bottom-width: 1px


.entries_entry_time
  padding-right: 10px

@media only screen and (min-width: 60em)
  .entries_entry_time
    min-width: 6em


.entries_entry_title
  margin: 0


/*
 * Pagination
 */

.entries-paginate
  list-style: none
  margin: 20px auto 0
  padding: 0
  text-align: center


.entries-paginate_prev,
.entries-paginate_next
  a
    display: inline-block
    padding: 5px 10px
    background: #003760
    color: #f9f9f9
    text-decoration: none


/*
 * Entry
 */

.entry_title
  font-size: 24px
  font-size: 2.4rem
  font-weight: normal


/*
 * Code
 */

.code
  padding: 0 10px


.highlight
  padding: 10px
  border: 1px solid #ccc


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  /* IE 6/7 fallback */
  *text-indent: -9999px


.ir:before
  content: ""
  display: block
  width: 0
  height: 100%


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden
  display: none !important
  visibility: hidden


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px


/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto


/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible
  visibility: hidden


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after
  content: " " /* 1 */
  display: table /* 2 */


.clearfix:after
  clear: both


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix
  *zoom: 1

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print
  *
    background: transparent !important
    color: #000 !important /* Black prints faster: h5bp.com/s */
    box-shadow: none !important
    text-shadow: none !important


  a,
  a:visited
    text-decoration: underline


  a[href]:after
    content: " (" attr(href) ")"


  abbr[title]:after
    content: " (" attr(title) ")"


  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after
    content: ""


  pre,
  blockquote
    border: 1px solid #999
    page-break-inside: avoid


  thead
    display: table-header-group /* h5bp.com/t */


  tr,
  img
    page-break-inside: avoid


  img
    max-width: 100% !important

  p,
  h2,
  h3
    orphans: 3
    widows: 3


  h2,
  h3
    page-break-after: avoid
